<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <h1>Jelani Smith</h1>
 <p>I am currently pursuing a degree in computer science. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam molestie augue vel est euismod vulputate. Nullam fermentum euismod risus eget laoreet. Nunc varius ultricies rutrum. Maecenas eget dui ex. Proin vitae sagittis mi. Curabitur sed enim nisi. Aenean fringilla, purus ut finibus finibus, purus lacus eleifend ante, vitae consequat sem libero in purus.</p>
 <img src="{{url_for('static', filename='pekora_drink.gif')}}" />
</body>
</html>